h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
.chart-container {
  position: relative;
  height:40vh;
  width:80vw;
  margin: auto;
}
#statement {
  padding-top: 2%;
  text-align: center;
  font-style: italic;
}
#warning {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
#warning2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}